<div mat-whiteframe="5" style="margin:15px 0 20px 0">
    <mat-toolbar class="mat-hue-2" style="height: 40px;min-height: 40px;">
        <div class="mat-toolbar-tools">
            <span>ADFS Metadata</span>
        </div>
    </mat-toolbar>
    <div layout-margin>
        <div>To use this app with your ADFS, you will have to import your ADFS Metadata.</div>
        <div>To retrieve your ADFS Metadata, you can manually download the metadata.xml file, or indicate your ADFS FQDN below and use the "Download" Button
        </div>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" style="width: 25em">
            <mat-label>ADFS Server IP/FQDN</mat-label>
            <input matInput id="adfsServer" type="text" [(ngModel)]="adfs.server" />
        </mat-form-field>
        <div style="margin:1em">

            <a mat-button [disabled]="adfs.server==''" color="primary" [href]="adfsCert()" target="_blank">Download ADFS Metadata</a>
        </div>
    </div>
    <div layout-margin>Once you have the xml Metadata file, just edit it, and copy/paste the content below
    </div>
    <div layout="column" layout-margin>
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>ADFS Metadata<span style="color: red">*</span></mat-label>
            <textarea matInput [(ngModel)]="adfs.metadata" (ngModelChange)="changeAdfsMetadata($event)" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field>

        <div layout="column">
            <table>
                <tr>
                    <th>Entity ID</th>
                    <td>
                        <div *ngIf="adfs.entity_id!=''" fxLayout="row">
                            <div>{{adfs.entity_id}}</div>
                            <div class="material-icons green">done</div>
                        </div>
                        <div *ngIf="adfs.entity_id==''" fxLayout="row">
                            <div class="material-icons red">close</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Login URL</th>
                    <td>
                        <div *ngIf="adfs.login_url!=''" fxLayout="row">
                            <div>{{adfs.login_url}}</div>
                            <div class="material-icons green">done</div>
                        </div>
                        <div *ngIf="adfs.login_url==''" fxLayout="row">
                            <div class="material-icons red">close</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Logout URL</th>
                    <td>
                        <div *ngIf="adfs.logout_url!=''" fxLayout="row">
                            <div>{{adfs.logout_url}}</div>
                            <div class="material-icons green">done</div>
                        </div>
                        <div *ngIf="adfs.logout_url==''" fxLayout="row">
                            <div class="material-icons red">close</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>X509 Certificate</th>
                    <td>
                        <div *ngIf="adfs.certs.length>0" fxLayout="row">
                            <div class="material-icons green">done</div>
                        </div>
                        <div *ngIf="adfs.certs.length==0" fxLayout="row">
                            <div class="material-icons red">close</div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>
</div>
<div mat-whiteframe="5" style="margin:15px 0 20px 0">
    <mat-toolbar class="mat-hue-2" style="height: 40px;min-height: 40px;">
        <div class="mat-toolbar-tools">
            <span>APP Metdata</span>
        </div>
    </mat-toolbar>
    <div layout-margin>You will have create a "Relying Party Trust" on your ADFS. To do so, you can download the App Metadata (including its certificate) by using the button below.</div>
    <a mat-raised-button href="/api/admin/auth/cert" translate="authentication.adfs.getAppCertificate" aria-label="Get App Certificate">Download App Metadata</a>

</div>