.title {
    color: black;
    font-weight: lighter;
    margin-left: 1em;
}

.toolbar {
    background-color: rgb(236 236 236);
    color: gray;
    height: 1.5em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}


/* Responsive Styles */

@media screen and (max-width: 767px) {
    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }
    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}

mat-progress-bar {
    z-index: 10;
}

.static,
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.loading,
.showed {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

mat-progress-bar,
.top-bar-static {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
}