<div style="height: 100%;" fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="login-box">
        <mat-card-title>
            You're not at the right place...
        </mat-card-title>
        <mat-card-content>
            <div>
                It seems you have reached an unknown URL...
            </div>
            <div>
                If you are a user, please contact your IT administrator to get the right URL to get your key.
            </div>
            <div>
                If you are an IT administrator, please log in <a href="/admin">here</a>.
            </div>
        </mat-card-content>

    </mat-card>
</div>