<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mist PSK - Admin</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="mat-typography">
    <app-root></app-root>
<script src="/ng/admin/runtime.49744b628389e95a6327.js" defer></script><script src="/ng/admin/polyfills.654b0ce57de84441bf1a.js" defer></script><script src="/ng/admin/styles.39efe675e8baab7ba5db.js" defer></script><script src="/ng/admin/main.8fb587a4121994c96faa.js" defer></script></body>

</html>