<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mist PSK - Admin</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="mat-typography">
    <app-root></app-root>
<script src="/ng/admin/runtime.b921c5f582ae0e73ccdf.js" defer></script><script src="/ng/admin/polyfills.35a5ca1855eb057f016a.js" defer></script><script src="/ng/admin/styles.6602ed58d2effeef7d54.js" defer></script><script src="/ng/admin/main.c41b7d9283fdf0555e8e.js" defer></script></body>

</html>