<div style="height: 100%;" fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="login-box">
        <mat-card-title>
            Something went wrong...
        </mat-card-title>
        <mat-card-content>
            <div>
                It seems we may have some issues...
            </div>
            <div>
                Please contact your IT administrator to double check you are using the right URL and report this issue.
            </div>
        </mat-card-content>

    </mat-card>
</div>