<div style="height: 100%;" fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z8 login-box">
        <mat-card-title>
            {{i18n.title}}
        </mat-card-title>
        <mat-card-content>
            {{i18n.content}}
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
            <a mat-raised-button color="accent" href="{{auth_url}}">{{i18n.login}}</a>
        </mat-card-actions>

    </mat-card>
</div>